@media (max-width: 575.98px) {
  header nav ul li {
    margin-left: auto;
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }

  .banner {
    padding: 100px 0;
  }

  .banner_wrapper h1 {
    font-size: 32px;
  }
  .banner_wrapper p {
    font-size: 16px;
  }
  .banner_wrapper button {
    margin-top: 15px;
    padding: 6px 40px;
    font-size: 15px;
  }

  .good {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .good_wrapper1 h4 {
    font-size: 30px;
  }

  .good_wrapper2-1 p {
    font-size: 15px;
    line-height: 27px;
  }

  .make {
    padding: 40px 0;
  }

  .make_wrapper1 h4 {
    margin-top: 40px;
    font-size: 30px;
  }
  .make_wrapper1 p {
    font-size: 15px;
  }
  .make_wrapper1 ul {
    margin-top: 80px;
  }
  .make_wrapper1 ul li {
    margin: 0 3px;
  }
  .make_wrapper1 ul li a {
    font-size: 15px;
  }

  .make_wrapper2 {
    padding: 80px 20px 64px 15px;
  }
  .make_wrapper2 p {
    font-size: 15px;
  }

  .make_wrapper3 button {
    font-size: 15px;
  }

  .about {
    padding: 40px 0;
  }

  .about_wrapper1 p:last-of-type {
    text-align: left !important;
  }
  .about_wrapper1 h4 {
    font-size: 30px;
  }

  .about_wrapper2 {
    text-align: center;
    margin-top: 0;
  }
  .about_wrapper2 h4 {
    font-size: 30px;
  }
  .about_wrapper2 button {
    padding: 6px 40px;
    font-size: 14px;
  }

  .about_wrapper3 {
    margin-top: 60px;
  }

  .about {
    padding: 40px 0;
  }

  .about_wrapper1 p:last-of-type {
    text-align: left !important;
  }
  .about_wrapper1 h4 {
    font-size: 30px;
  }

  .about_wrapper2 {
    text-align: center;
    margin-top: 0;
  }
  .about_wrapper2 h4 {
    font-size: 30px;
  }
  .about_wrapper2 button {
    padding: 6px 40px;
    font-size: 14px;
  }

  .about_wrapper3 {
    margin-top: 60px;
  }

  .team {
    padding: 40px 0;
  }

  .team_wrapper1 h4 {
    font-size: 30px;
  }
  .team_wrapper1 p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .team_wrapper2 {
    text-align: center;
    margin-top: 25px;
  }
  .team_wrapper2 h5 {
    margin-bottom: 0;
    font-size: 19px;
    padding: 15px 0;
  }
  .team_wrapper2 p {
    font-size: 15px;
  }
  .team_wrapper2 img {
    height: 250px;
  }

  .py1 {
    padding: 40px 10px;
  }

  .py2 {
    padding: 19px 10px;
  }

  .customer {
    padding: 40px 0;
  }

  .cus_wrapper1 img {
    margin-top: 20px;
  }

  .project {
    padding: 40px 0;
  }

  .project_wrapper1 h4 {
    font-size: 30px;
  }
  .project_wrapper1 button {
    padding: 6px 30px;
  }

  .blog {
    padding: 40px 0;
  }

  .blog_wrapper1 h4 {
    font-size: 30px;
  }

  .blog_wrapper3 button {
    padding: 6px 25px;
  }

  .newsletter_wrapper {
    text-align: center;
  }
  .newsletter_wrapper p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .newsletter_wrapper button {
    margin-top: 20px;
  }
  .newsletter_wrapper ::placeholder {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header nav ul li {
    margin-left: auto;
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }

  .banner {
    padding: 100px 0;
  }

  .banner_wrapper h1 {
    font-size: 36px;
  }
  .banner_wrapper p {
    font-size: 16px;
  }
  .banner_wrapper button {
    margin-top: 15px;
    padding: 6px 40px;
    font-size: 15px;
  }

  .good {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  .good_wrapper2-1 p {
    font-size: 15px;
    line-height: 27px;
  }

  .make {
    padding: 50px 0;
  }

  .make_wrapper1 h4 {
    margin-top: 40px;
    font-size: 32px;
  }
  .make_wrapper1 p {
    font-size: 15px;
  }
  .make_wrapper1 ul {
    margin-top: 80px;
  }
  .make_wrapper1 ul li a {
    font-size: 15px;
  }

  .make_wrapper2 {
    padding: 80px 20px 64px 15px;
  }
  .make_wrapper2 p {
    font-size: 15px;
  }

  .make_wrapper3 button {
    font-size: 15px;
  }

  .about {
    padding: 50px 0;
  }

  .about_wrapper1 p:last-of-type {
    text-align: left !important;
  }
  .about_wrapper1 h4 {
    font-size: 32px;
  }

  .about_wrapper2 {
    text-align: center;
    margin-top: 0;
  }
  .about_wrapper2 h4 {
    font-size: 32px;
  }
  .about_wrapper2 button {
    padding: 6px 40px;
    font-size: 14px;
  }

  .about_wrapper3 {
    margin-top: 60px;
  }

  .team {
    padding: 50px 0;
  }

  .team_wrapper1 h4 {
    font-size: 32px;
  }
  .team_wrapper1 p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .team_wrapper2 {
    text-align: center;
    margin-top: 25px;
  }
  .team_wrapper2 h5 {
    margin-bottom: 0;
    font-size: 19px;
    padding: 15px 0;
  }
  .team_wrapper2 p {
    font-size: 15px;
  }
  .team_wrapper2 img {
    height: 250px;
  }

  .py1 {
    padding: 40px 10px;
  }

  .py2 {
    padding: 19px 10px;
  }

  .customer {
    padding: 50px 0;
  }

  .cus_wrapper1 img {
    margin-top: 20px;
  }

  .project {
    padding: 50px 0;
  }

  .project_wrapper1 h4 {
    font-size: 32px;
  }

  .blog {
    padding: 50px 0;
  }

  .blog_wrapper1 h4 {
    font-size: 32px;
  }

  .blog_wrapper3 button {
    padding: 6px 30px;
  }

  .newsletter_wrapper p {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header nav ul li {
    margin-left: auto;
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }

  .banner {
    padding: 100px 0;
  }

  .banner_wrapper h1 {
    font-size: 41px;
  }
  .banner_wrapper p {
    font-size: 16px;
  }
  .banner_wrapper button {
    margin-top: 15px;
    padding: 6px 40px;
    font-size: 16px;
  }

  .good {
    padding-top: 60px;
    padding-bottom: 44px;
  }

  .good_wrapper2-1 p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 27px;
  }

  .make {
    padding: 60px 0;
  }

  .make_wrapper1 h4 {
    margin-top: 40px;
    font-size: 33px;
  }
  .make_wrapper1 p {
    font-size: 15px;
  }
  .make_wrapper1 ul {
    margin-top: 80px;
  }
  .make_wrapper1 ul li a {
    font-size: 15px;
  }

  .make_wrapper2 {
    padding: 80px 20px 64px 15px;
  }
  .make_wrapper2 p {
    font-size: 15px;
  }

  .make_wrapper3 button {
    font-size: 15px;
  }

  .about {
    padding: 60px 0;
  }

  .about_wrapper1 h4 {
    font-size: 33px;
  }

  .about_wrapper2 {
    margin-top: 0;
  }
  .about_wrapper2 h4 {
    font-size: 33px;
  }
  .about_wrapper2 button {
    padding: 6px 40px;
    font-size: 14px;
  }

  .about_wrapper3 {
    margin-top: 60px;
  }

  .team {
    padding: 60px 0;
  }

  .team_wrapper1 h4 {
    font-size: 33px;
  }
  .team_wrapper1 p {
    font-size: 16px;
    margin-bottom: 70px;
  }

  .team_wrapper2 {
    text-align: center;
  }
  .team_wrapper2 h5 {
    margin-bottom: 0;
    font-size: 19px;
    padding: 15px 0;
  }
  .team_wrapper2 p {
    font-size: 15px;
  }
  .team_wrapper2 img {
    height: 250px;
  }

  .py1 {
    padding: 40px 10px;
  }

  .py2 {
    padding: 19px 10px;
  }

  .project {
    padding: 60px 0;
  }

  .project_wrapper1 h4 {
    font-size: 33px;
  }

  .blog {
    padding: 60px 0;
  }

  .blog_wrapper1 h4 {
    font-size: 33px;
  }

  .blog_wrapper3 button {
    padding: 6px 30px;
  }

  .newsletter_wrapper p {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .team {
    padding: 70px 0;
  }

  .team_wrapper1 h4 {
    font-size: 35px;
  }
  .team_wrapper1 p {
    font-size: 16px;
    margin-bottom: 70px;
  }

  .team_wrapper2 {
    text-align: center;
  }
  .team_wrapper2 h5 {
    margin-bottom: 0;
    font-size: 20px;
    padding: 15px 0;
  }
  .team_wrapper2 p {
    font-size: 15px;
    margin-bottom: 0 !important;
  }
  .team_wrapper2 img {
    height: 300px;
  }

  .py1 {
    padding: 40px 20px;
  }

  .py2 {
    padding: 19px 20px;
  }

  .newsletter_wrapper p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=media.css.map */
