a, a:hover, a:focus {
  text-decoration: none;
}

.mjh {
  background-color: #00c6bf !important;
}
.mjh h5 {
  color: white;
}
.mjh p {
  color: #1a2940 !important;
}

.mhv {
  background-color: #ff3150 !important;
  cursor: pointer;
}
.mhv a {
  color: #ffc400 !important;
}

.aq {
  color: #00c7c0 !important;
}

body {
  font-family: "Roboto", sans-serif;
}

hr {
  background-color: #00c7c0;
  width: 150px;
}

.jqb {
  color: white !important;
}

header {
  background-color: #19283f;
  padding: 10px 0;
}
header nav ul {
  margin-top: 15px;
}
header nav ul li {
  margin: 0 11px;
  color: #a8b9c0;
}
header nav ul li a {
  color: #a8b9c0 !important;
}

.cusmt {
  margin-top: 8px;
}

.cusbtn {
  border: none;
  padding: 6px 38px 6px 38px !important;
  color: #ffc400 !important;
  background-color: #ff3150;
  border-radius: 15px;
}

.btn2 {
  color: #a8b9c0;
  margin-top: 3px;
  background: none;
}
.btn2:after {
  content: none;
}

.banner {
  padding: 100px 0;
  background-color: #19283f;
}

.banner_wrapper h1 {
  font-size: 51px;
  color: #f0f8fb;
  font-weight: 300;
}
.banner_wrapper p {
  font-size: 16px;
  color: #a8b9c0;
}
.banner_wrapper button {
  margin-top: 15px;
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background-color: #ff3150;
  color: #ffc400;
  padding: 6px 40px;
  cursor: pointer;
}

.good {
  padding-top: 70px;
  padding-bottom: 54px;
}

.good_wrapper1 h4 {
  margin-top: 40px;
  font-size: 35px;
  color: #1a2940;
}
.good_wrapper1 p {
  font-size: 16px;
  color: #a8b9c0;
}

.one {
  padding: 150px 0;
  background: url("../images/one.png") no-repeat center;
}

.two {
  padding: 150px 0;
  background: url("../images/two.png") no-repeat center;
}

.three {
  padding: 150px 0;
  background: url("../images/three.png") no-repeat center;
}

.good_wrapper2-1 {
  margin-left: 40px;
  margin-top: -110px;
}
.good_wrapper2-1 img {
  margin-right: 25px;
}
.good_wrapper2-1 h5 {
  margin-top: 40px;
  font-size: 20px;
  color: #ffc501;
}
.good_wrapper2-1 p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 30px;
  color: #a8b9c0;
}

.make {
  padding: 70px 0;
  background-color: #eff7fa;
}

.make_wrapper1 h4 {
  margin-top: 40px;
  font-size: 35px;
  color: #1a2940;
}
.make_wrapper1 p {
  font-size: 16px;
  color: #a8b9c0;
}
.make_wrapper1 ul {
  margin-top: 80px;
}
.make_wrapper1 ul li {
  margin: 0 40px;
  padding: 10px 20px;
  border-radius: 10px;
}
.make_wrapper1 ul li a {
  font-size: 15px;
  color: #a8b9c0;
}

.make_wrapper2 {
  padding: 80px 50px 64px 50px;
  background-color: #fff;
}
.make_wrapper2 h5 {
  font-size: 20px;
}
.make_wrapper2 p {
  font-size: 16px;
  color: #1a2940;
}

.make_wrapper3 {
  margin-top: 80px;
}
.make_wrapper3 button {
  border: none;
  border-radius: 20px;
  background-color: #ff3150;
  color: #ffc400;
  padding: 6px 50px;
  cursor: pointer;
  font-size: 16px;
}

.about {
  padding-top: 70px;
}

.about_wrapper1 h4 {
  margin-top: 40px;
  font-size: 35px;
  color: #1a2940;
}
.about_wrapper1 p {
  font-size: 16px;
  color: #a8b9c0;
}
.about_wrapper1 p:last-of-type {
  font-weight: 300;
  margin-top: 20px;
}

.about_wrapper2 {
  margin-top: 45px;
}
.about_wrapper2 h4 {
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 35px;
  color: #1a2940;
}
.about_wrapper2 p {
  color: #a8b9c0;
  font-weight: 300;
  font-size: 15px;
}
.about_wrapper2 button {
  margin-top: 5px;
  border: none;
  border-radius: 20px;
  background-color: #ff3150;
  color: #ffc400;
  padding: 6px 50px;
  cursor: pointer;
  font-size: 16px;
}

.team {
  padding: 70px 0;
  background-color: #eff7fa;
}

.team_wrapper1 h4 {
  font-size: 35px;
  color: #ffc400;
}
.team_wrapper1 p {
  color: #a8b9c0;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 70px;
}

.team_wrapper2 {
  text-align: center;
  background-color: #eff7fa;
}
.team_wrapper2 h5 {
  margin-bottom: 0;
  font-size: 20px;
  color: #ffffff;
  background-color: #00c6bf;
  display: block;
  padding: 15px 0;
}
.team_wrapper2 p {
  font-size: 15px;
  color: #a8b9c0;
  background-color: white;
  margin-bottom: 0 !important;
}
.team_wrapper2 img {
  height: 350px;
}

.py1 {
  padding: 30px 20px;
}

.py2 {
  padding: 19px 20px;
}

.customer {
  padding: 70px 0;
}

.project {
  padding: 70px 0;
  background-color: #19283f;
}

.project_wrapper1 {
  padding: 20px 0;
}
.project_wrapper1 h4 {
  color: #ffffff;
  font-size: 35px;
}
.project_wrapper1 p {
  font-size: 15px;
  color: #a8b9c0;
}
.project_wrapper1 button {
  margin-top: 25px;
  border: none;
  border-radius: 21px;
  background-color: #ff3150;
  color: #ffc400;
  padding: 6px 40px;
  cursor: pointer;
}

.blog {
  padding: 70px 0;
}

.blog_wrapper1 h4 {
  margin-top: 40px;
  font-size: 35px;
  color: #1a2940;
}
.blog_wrapper1 p {
  font-size: 16px;
  color: #a8b9c0;
}

.blog_wrapper2 {
  margin-top: 35px;
}
.blog_wrapper2 p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #a8b9c0;
}
.blog_wrapper2 h6 {
  font-size: 20px;
  color: #1a2940;
}

.blog_wrapper3 {
  margin-top: 30px;
}
.blog_wrapper3 button {
  margin-top: 25px;
  border: none;
  border-radius: 21px;
  background-color: #ff3150;
  color: #ffc400;
  padding: 6px 40px;
  cursor: pointer;
}

.newletter {
  padding: 40px 0;
  background-color: #ffc400;
}

.newsletter_wrapper p {
  margin-bottom: 0;
  font-size: 20px;
  color: #1a2940;
}
.newsletter_wrapper input {
  border: none;
  border-bottom: 1px solid #eff7fa;
  background: none;
  width: 100%;
  padding-bottom: 5px;
}
.newsletter_wrapper button {
  border: none;
  border-radius: 20px;
  background-color: #19283f;
  color: #ffc501;
  padding: 6px 38px;
  cursor: pointer;
}
.newsletter_wrapper ::placeholder {
  font-size: 15px;
  color: #f0f8fb;
}

footer {
  padding: 70px 0;
  background-color: #19283f;
}

.footer_wrapper1 p {
  font-size: 13px;
  line-height: 30px;
  color: #a8b9c0;
  margin-bottom: 0;
}
.footer_wrapper1 p span {
  color: #ffc501;
}

.footer_wrapper2 ul,
.footer_wrapper3 ul {
  padding-left: 0;
}
.footer_wrapper2 ul li,
.footer_wrapper3 ul li {
  margin-top: 15px;
}
.footer_wrapper2 ul li:first-of-type,
.footer_wrapper3 ul li:first-of-type {
  margin-top: 0;
}
.footer_wrapper2 ul li:first-of-type a,
.footer_wrapper3 ul li:first-of-type a {
  color: #f0f8fb;
  font-size: 15px;
}
.footer_wrapper2 ul li a,
.footer_wrapper3 ul li a {
  font-size: 13px;
  color: #a8b9c0;
}

.footer_wrapper3 {
  margin-left: 0;
}

.footer_wrapper4 p {
  font-size: 13px;
  line-height: 30px;
  color: #a8b9c0;
}
.footer_wrapper4 p:first-of-type {
  font-size: 15px;
  color: #f0f8fb;
}
.footer_wrapper4 button {
  margin: 30px 0;
  width: 100%;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #ff3150;
  padding: 6px 38px;
  cursor: pointer;
}
.footer_wrapper4 ul li {
  margin-right: 7px !important;
  padding: 5px 15px;
  border-radius: 50%;
}
.footer_wrapper4 ul li i {
  color: white;
}

.fb {
  background-color: #347cd2;
}

.tw {
  background-color: #1ec4ff;
}

.gp {
  background-color: #ff4032;
}

.db {
  background-color: #ff3298;
}

/*# sourceMappingURL=style.css.map */
